h3 Actions:
button#clear.btn.btn-default Clear Log
button#send.btn.btn-default Send Test Signal to Room
button#vibrate.btn.btn-default Vibrate
button#voice.btn.btn-default Voice Recognition
button#buffer.btn.btn-default Buffer Video