extends layout

block content
	div
		p#uniqueid
		input#uniquecode(name='uniquecode')
		input#connect(type='submit', value='Connect')
		p
			button#clear Clear Log
			button#send Send Test Signal to Room
		ul(id='receiver')